<!DOCTYPE html> 
<html>
<head>
</head>
<body>
	<Body background="vv.jpg">
		<style type=text/css>   
		body   
		{  
		height: 125vh;  
		margin-top: 80px;  
		padding: 30px;  
		background-size: cover;  
		font-family: sans-serif;  
		}  
		header {  
		background-color: black;  
		position: fixed;  
		left: 0;  
		right: 0;  
		top: 5px;  
		height: 30px;  
		display: flex;  
		align-items: center;  
		box-shadow: 0 0 25px 0 red;  
		}  
		header * {  
		display: inline;  
		}  
		header li {  
		margin: 20px;  
		}  
		header li a {  
		color: white;  
		text-decoration: none;  
		}  
		</style>   
		</Head>  
		<Body>   
		<header>  
		<nav>  
		<ul>  
		<li>  
		<a href="#"> Home </a>  
		</li>  
		<li>  
		<a href="#"> About </a>  
		</li>  
		<li>  
		<a href="#"> Contact </a>  
		</li>  
		<li> <a href="#"> Terms of use </a>  
		</li>  
		<li>  
		<a href="#"> Join Us </a>  
		</li>  
		</ul>  
		</nav>  
<br> <br> <br> <br><br> <br><br> <br><br> <br><br> <br><section> <font color="white"> <div style="border:1px solid black;padding:350px;font-size:50px">  
<p>  BOOK YOUR TICKETS </p>  <b> <font color="7FFD4">
<p> FROM CINEMY </p> </font> </b>
</div>  </font></section>
			<section> <font color="aqua"> <div style="border:1px solid black;padding:350px;font-size:20px">  
			<p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Safe, secure and reliable ticketing. <a href="2.html"> <b> Let's Go! </b> </a>   </p>  <font color="7FFD4">
</font> 
			</div>  </font></section>
           
	   	 <style type="text/css"> 
	   	 .footer {
			 
		   position: fixed;
	   	   left: 0;
	   	   bottom: 0;
	   	   width: 100%;
	   	   background-color: black;
	   	   color: white;
	   	   text-align: left;
	   	 } 
	   	 </style> 
			 <meta charset="UTF-8">  
			  <Body background=".jpg">
			 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>  
			 <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>  
			 </head>  
			
			 }  
			 
			 </style>  
			 <body>  
			 <div class="container">  
			 <div class="row">  
			 <div class="col-md-12">  

			 <footer class="footer">  
			 <div class="container">  
			 <div class="row">  
			 <div class="col-md-3 m-b-30">  
			 <div class="footer-title m-t-5 m-b-20 p-b-8">  
			 About us  
			 </div>  <br>
			 <p class="white-text">  
			 CINEMY
			 </p>  <br>
			 </div>  
			 <div class="col-md-3 m-b-30">  
			 <div class="footer-title m-t-5 m-b-20 p-b-8">  
			 Quick Links  
			 </div>  <br>
			 <div class="footer-links">  
			 <a href="#">  
			 Blog  
			 </a>  
			 <a href="#">  <br>
			 FAQ  
			 </a>  <br>
			 <a href="#">  
			 Terms & conditions  
			 </a>  <br>
			 <a href="#">  
			 Privacy policy  
			 </a>  
			 </div>  
			 </div>  

			 <div class="footer-social-links m-t-30">  
			 <li> <a href="#">  
			 <i class="fa fa-facebook" aria-hidden="true"> </i> </a>  
			 <a href="#"> <i class="fa fa-twitter" aria-hidden="true"> </i> </a>  
			 <a href="#"> <i class="fa fa-linkedin" aria-hidden="true"> </i> </a>  
			 <a href="#"> <i class="fa fa-youtube" aria-hidden="true"> </i> </a>  
			 </li>  
			 </div>  
			 </div>  
			 </div>  
			 </div>  
			 </footer>  

			 </div>  
			 </div>  
			 </div>  
			 </div>  
			 <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'> </script>  
			 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'> </script>  
			 <script src='https://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'> </script>  
			 </body>  
	   
	   	 </div>	 
			 @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 700px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

  
</body>
</html>
		 